    .invoice-box{
        max-width:100%;
        max-height: 100%;
        font-size:11.5px;
        line-height:20px;
        font-family:'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color:#24292E;
    }
    .header-text{
        color:#fff;
    }
    .invoice-box table{
        width:100%;
/*        line-height:inherit;*/
        text-align:left;
        empty-cells: show;
    }
    
    .invoice-box table td{
        padding-top: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        vertical-align:top;
    }
    .invoice-box br {
        line-height: 175%;
     }

    .invoice-box table tr td:nth-child(2){
        text-align:right;

    }
    .invoice-box table tr.main td{
        text-align:center;
        width:1%;
        white-space:nowrap;
        

    }
    .invoice-box table tr.item td.prices{
        text-align:center;
        font-size:10px;

    }
    /*ELEMENTOS DE LA COTIZACION*/
    .invoice-box table.elementos-invoice td.col-details-headers-text{
        text-align:center;
        padding: 2.5;
        width: 1%;
    } 
    .invoice-box table.elementos-invoice td.td-details-item{
        text-align:center;
        padding: 2.5;
        width: 1%;
    } 
    .invoice-box table.elementos-invoice td.td-details-desc{
        text-align:left;
        padding: 2.5;
        width: 30%;
    } 
    .invoice-box table.elementos-invoice td.td-details-prices{
        text-align:center;
        padding: 2.5;
        width: 5%;
    }

    /*ELEMENTOS DE LA COTIZACION*/
    .invoice-box table tr.item td.prices-description{
        text-align:left;
        font-size:10px;

    }
    .invoice-box table.observaciones tr td.adicionales{
        text-align:right;

    }
    .invoice-box table tr.top table td{
        padding-bottom:20px;
    }
    
    .invoice-box table tr.top table td.title{
        font-size:45px;
        line-height:45px;
        color:#333;
    }
    .invoice-box table.qrtable td.qrcode{
        width:1%;
        white-space:nowrap;
    }
    table.observaciones td.adicionales{
        background:#24292E;
        font-weight:bold;
        width:1%;
        white-space:nowrap;
        text-align: right;
        padding: 2;
    }
    table.observaciones td.adicionales-white{
        background:#fff;
        font-weight:bold;
        width:1%;
        white-space:nowrap;
        text-align: right;
        padding: 2;
    }
    table.observaciones td.adicionales-values{
        width:1%;
        white-space:nowrap;
        text-align: center;
        padding: 2;
    }
    table.observaciones td.adicionales-values-total{
        font-weight:bold;
        width:1%;
        white-space:nowrap;
        text-align: center;
        padding: 2;
    }
    table tr.heading td{
        background:#24292E;
        border-bottom:1px solid #ddd;
        font-weight:bold;
    }

    .invoice-box table tr.details td{
        padding-bottom:20px;
    }
    
    .invoice-box table td.contact-miami{
       text-align: right;
       padding: 1px;
    }
    .invoice-box table td.contact-td-padding{
       
       padding: 1px;
    }
    .invoice-box table.contact{
       font-size:8.5px;
       line-height:10px;
       padding: 1px;
    }

    .invoice-box table tr.item td{
        border-bottom:1px solid #262626;
        text-align:left;
    }
    .invoice-box table tr.datos-cliente-usuario td{
        border-bottom:1 solid #eee;
        text-align:left;
    }
    
    .invoice-box table tr.item.last td{
        border-bottom:none;
    }
    
    .invoice-box table tr.total td:nth-child(5){
        border-top:2px solid #eee;
        font-weight:bold;
    }
    
    @media only screen and (max-width: 600px) {
        .invoice-box table tr.top table td{
            width:100%;
            display:block;
            text-align:center;
        }
        
        .invoice-box table tr.information table td{
            width:100%;
            display:block;
            text-align:center;
        }
    }
    